[user]
    name = Jbettencourt85
    email = jeremiah.bettencourt@gmail.com

[core]
    editor = nano
    autocrlf = input
	excludesfile = /home/jeremiah/.gitignore_global

[color]
    ui = auto

[status]
    showUntrackedFiles = no

